<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1 id = "title"><%= title %></h1>
            <br>
            <% if(typeof displayName == 'string' && displayName) { %>
            <a href="/assignmentslist/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add Assignment
                </a>
                        <table class="table table-bordered table-striped table-hover">
                <tr class="d-flex">
                    <th class="text-center col-2">Name</th>
                    <th class="col-6">Description</th>
                    <th class="text-center col-2">Duedate</th>
                    <th class="text-center col-2">Class</th>
                    <th class = "text-center col-1">Edit</th>
                    <th class = "text-center col-1">Delete</th>

                </tr>
                <% for(let count=0;count<AssignmentList.length;count++) { %>
                <tr class="d-flex">
                    <td class="text-center col-2"><%= AssignmentList[count].Name %></td>
                    <td class="col-6"><%= AssignmentList[count].Description %> </td>
                    <td class="text-center col-2"><%= AssignmentList[count].Duedate %></td>
                    <td class="text-center col-2"><%= AssignmentList[count].Class %></td>
                    <td class="text-center col-1">
                        <a href="/assignmentslist/edit/<%= AssignmentList[count]._id%>"
                            class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil-alt"></i>Edit
                    </a>
                    </td>
                    <td class="text-center col-1">
                        <a href = "#" onclick = "return confirmDelete('/assignmentslist/delete/<%= AssignmentList[count]._id %>');"
                            class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i>Delete
                    </a>
                    </td>
                </tr>  
                <%} %>
            </table>
                <% } else {%>
                    <p>NOTE: You have to be signed into an account to create, update, and delete assignments</p>
            <table class="table table-bordered table-striped table-hover">
                <tr class="d-flex">
                    <th class="text-center col-2">Name</th>
                    <th class="col-6">Description</th>
                    <th class="text-center col-2">Duedate</th>
                    <th class="text-center col-2">Class</th>

                </tr>
                <% for(let count=0;count<AssignmentList.length;count++) { %>
                <tr class="d-flex">
                    <td class="text-center col-2"><%= AssignmentList[count].Name %></td>
                    <td class="col-6"><%= AssignmentList[count].Description %> </td>
                    <td class="text-center col-2"><%= AssignmentList[count].Duedate %></td>
                    <td class="text-center col-2"><%= AssignmentList[count].Class %></td>
                    </a>
                </tr>    
                <%} %>
            </table>
            <% } %>
        </div>
    </div>
</main>
                    <script>
                    function confirmDelete(deleteLink) {
                    if (confirm('Are you sure you want to remove this assignment?')) {
                    window.location.href = deleteLink;
                    } else {
                    return false;
                    }
                    }
                    </script>
<%- include ../Partials/footer.ejs%>
